.container {
    display: flex;
    justify-content:space-evenly;
    
    margin: auto;
    width: 700px;
    padding: 30px;
    
}
.mid-left {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.left-col {
    width: 300px;
    border: 2px solid black;
    padding: 20px;
}

.pop {
    width: 100px;
    background-color: rgb(243, 181, 106);
    text-align: left;
    font-family: cursive;
    padding: 10px ;

}

button {
    background-color: rgb(243, 181, 106);
    width: 60px;
    height: 30px;
    border: 3px solid black;
    box-shadow: 3px 5px ;
    cursor: pointer;
}

.mid-left .user {
    font-family: cursive;
    font-size: 20px;
}